<% if (post.prev || post.next){ %>
<nav>
  <% if (post.prev) { %>
  <div>
    <div>
      新しい記事
    </div>
    <a href="<%- url_for(post.prev.path) %>">
      <%= post.prev.title %>
    </a>
  </div>
  <% } %>
  <% if (post.next){ %>
  <div>
    <div>
      古い記事
    </div>
    <a href="<%- url_for(post.next.path) %>">
      <%= post.next.title %>
    </a>
  </div>
  <% } %>
</nav>
<% } %>
