.link-preview {
  $BREAK: 520px;

  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  color: inherit;
  display: flex;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: hidden;
  text-decoration: none;

  .og-image {
    align-items: center;
    flex-shrink: 0;
    height: 110px;
    justify-content: center;
    width: 220px;

    @media screen and (width <= $BREAK) {
      height: 100px;
      width: 100px;
    }
  }

  .og-image img {
    height: 110px;
    object-fit: cover;
    width: 220px;

    @media screen and (width <= $BREAK) {
      height: 100px;
      width: 100px;
    }
  }

  .og-title {
    font-weight: bold;

    @media screen and (width <= $BREAK) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .descriptions {
    padding: 5px;
    width: calc(100% - 220px);

    @media screen and (width <= $BREAK) {
      width: calc(100% - 100px);
    }
  }

  .og-description {
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
