@use "variables";

.post-header {
  height: 150px;
  margin: 1em 0;
  width: 100%;

  @media (max-width: variables.$WIDTH_MAIN) {
    height: initial;
    padding: 0 20px;
  }
}

.post-title {
  h1 {
    font-size: 20px;
    font-weight: inherit;
    line-height: 1.5em;
    text-align: center;

    @media (max-width: variables.$WIDTH_MAIN) {
      border-bottom: none;
      font-size: 16px;
    }
  }
}

.post-date {
  font-size: 12px;
  line-height: 1.5em;
  margin-block: 0.67em;
  text-align: center;
}

.post-tag {
  display: flex;
  gap: 12px;
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;

    a.post-tag-anchor {
      border: 1px solid var(--color-text-light);
      border-radius: 4px;
      color: inherit;
      display: block;
      font-size: 70%;
      padding: 0.3em;
    }
  }
}

.post {
  a {
    opacity: 0.7;
    text-decoration: underline;
  }

  img {
    cursor: pointer;
  }

  line-height: 1.7;

  img,
  svg {
    max-width: 100%;
  }

  blockquote {
    border-left: 4px solid var(--color-text-light);
    margin: 0;
    opacity: 0.7;
    padding-left: 0.5em;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }

  th {
    border-bottom: 1px solid var(--color-text-light);
    font-weight: bolder;
    padding: 0.5em;
  }

  td {
    border-top: 1px solid var(--color-text-light);
    padding: 0.5em;
  }

  code:not([class*="language-"]) {
    background-color: var(--color-text-light);
    font-family: monospace;
    opacity: 0.8;
  }

  .post-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .post-flex > * {
    flex: 1;
    max-width: 340px;
    min-width: 280px;
  }
}

.post-next-prev {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;

  .post-prev,
  .post-next {
    border: 1px solid var(--color-text-light);
    border-radius: 4px;
    flex: 1;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .post-prev {
    &::before {
      content: "<";
    }
  }

  .post-next {
    &::after {
      content: ">";
    }
  }
}

.post-share {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-bottom: 1em;
}
