@import "nib"
@import "_variables"

.columns
  margin: 0;

.column
  padding: 0.25rem;

@import "_index"
@import "_sidebar"
@import "_post"
@import "_archive"

@import "_partial/_widget"
@import "_partial/_pagination"
@import "_partial/_thumbnail"
