body {
	overflow-wrap: break-word;
}

.footer {
        padding: 0;
        color: #999999;
}
.footer p {
        font-size: 10px;
}

.content figure.highlight {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

.highlight pre {
	font-family:
        'Noto Sans Mono CJK JP',
        'Source Han Code JP',
        'Ricty Diminished',
        'Ricty',
        SFMono-Regular,
        Consolas,
        'Roboto Mono', 
        'Courier New', 
        Meiryo,
        monospace;
}

details.default {
        border: 1px solid #cccccc;
        border-radius: 10px;
        margin: 10px 0;
        padding: 5px 10px
}
summary {
        cursor: pointer;
        line-height: 200%;
}
details.default[open] > summary {
        margin-bottom: 10px;
}
