name: deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      plantuml:
        image: plantuml/plantuml-server:jetty
        ports:
          - 8080:8080

    steps:
      - uses: actions/checkout@v5

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: 'npm'

      - run: "npm i --prod --prefer-offline --ignore-scripts"

      - run: 'sed -E -i "s|(^ *)# ?(.*) *# GHA: uncomment-before-build|\1\2|" _config.yml'

      - name: npm run build
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: npm run build

      - run: test -f public/index.html
      - run: test -d public/post
      - run: test -z "$(find public -empty)"

      - run: aws s3 sync public/ s3://${{ secrets.S3_BUCKET }} --delete  --exclude "*" --include "*.html" --cache-control "max-age=3600"
      - run: aws s3 sync public/ s3://${{ secrets.S3_BUCKET }} --delete  --exclude "*" --include "*.css" --include "*.js" --include "*.woff" --include "*.ttf" --cache-control "max-age=31536000"
      - run: aws s3 sync public/ s3://${{ secrets.S3_BUCKET }} --delete  --exclude "*" --include "*.png" --include "*.jpg" --include "*.gif" --cache-control "max-age=86400"
      - run: aws s3 sync public/ s3://${{ secrets.S3_BUCKET }} --delete  --exclude "*.html" --exclude "*.css" --exclude "*.js" --exclude "*.woff" --exclude "*.ttf" --exclude "*.png" --exclude "*.jpg" --exclude "*.gif"

      - run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
